body {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}

p{
    margin: 30px;
}

p::first-letter {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    line-height: 1;
}

p::first-line   {
    color: lightpink;
    font-weight: 900;
}