h1  {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size 6rem;
    text-shadow: 10px 5px 1px chocolate;

}

div {
    box-sizing: content-box;
    width: 50%;
    border: solid darkslateblue;
    padding: 10px;
}