html {
    background-color: cornflowerblue;
}
body {
    width: 60%;
    margin: 0 auto;
    background-color: lawngreen;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px    ridge gold;

}

#primary    {
    color: deepskyblue;

}

#secondary  {
    color: orangered;
}